<div>
    <h1 style="box-shadow: 6px 6px rgb(170, 170, 170); padding: 20px; font-size: 30px; font-weight:bold;background-color: rgb(53, 249, 151);" >BFSI EDGE</h1>
    <mat-card>
        <h3 *ngIf="errormessage" class="errormessage">{{message}}</h3> 
        <h3 *ngIf="successmessage" class="successmessage">{{message}}</h3> 
    <form [formGroup]="registerFormData" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label> Your Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="full name" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput type="tel" formControlName="mobileNumber" placeholder="9876543210" required>
    </mat-form-field><br>
    <mat-form-field>
    <mat-label> Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="abc@example.com" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Create Password</mat-label>
        <input matInput type="password" formControlName="password" required placeholder="*password length > 6">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Re-Enter Password</mat-label>
        <input matInput type="password" formControlName="rePassword" required>
    </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!registerFormData.valid">Create Account</button>
    </form>      
    <!-- <h4 style="font-weight: bold; margin: 5px 0px 0px 100px;"><i>Login With Mobile Number <button style="margin-left: 10px;" mat-stroked-button color="warn">Click here</button></i></h4> -->
    </mat-card>
    </div>