mat-form-field{
    width: 100%;
}

div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0px 30px 0px;
}
mat-card{
    width: 30%;
}


.errormessage{
    background-color: rgb(218, 42, 42);
    color: black;
    font-weight: bold;
    padding-left: 170px;
}

.succesMessage{
    background-color: rgb(18, 239, 21);
    color: black;
    font-weight: bold;
    padding-left: 170px;
}